.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Subtitle {
  font-weight: normal;
  text-align: center;
  padding: 0;
}

.Title {
  font-size: 2rem;
  margin: 0;
}

.ScoreWrapper {
  width: 50%;
}

.ScoreContainer {
  border-radius: 5px;
  padding: 2rem;
  margin: 2rem 0;
}

.Score {
  font-size: 5rem;
  margin: 0;
  padding: 0;
  text-align: center;
}
